// font
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab&display=swap");
$font: "Inter", sans-serif;
$base-font-size: 16px;

// theme color
$background-blue: #f1f5ff;
$white: #ffffff;
$icon-color: #3c71ff;
$button-border: rgb(60, 113, 255, 0.5);

//border style
$base-radius: 10px;

// padding margin
$base-margin: 16px;
$base-padding: 8px;
